$font-Arial: Arial, Georgia, sans-serif;
$font-Georgia: Georgia, Arial, sans-serif;

$font-default: 16px;
$font9: 0.563em;
$font10: 0.625em;
$font11: 0.688em;
$font12: 0.750em;
$font13: 0.813em;
$font14: 0.875em;
$font16: 1em;
$font18: 1.125em;
$font19: 1.188em;
$font20: 1.250em;
$font24: 1.500em;
$font34: 2.125em;
$font36: 2.250em;
$font42: 2.625em;

$SynchronyGold: #FFDA00;
$SynchronyGoldDark: #9a8900;
$AlmostBlack: #323232;
$SynchronyDarkGray: #3B3C43;
$DarkGrayTint: #58595b;
$SynchronyMediumGray: #94969A;
$SynchronyGreen: #6AB651;
$SynchronyGreenDark: #398439;
$RuleLinesGray: #D2D2D2;
$SynchronyLightGray: #E9EAE8;
$White: #fff;
$ErrorRed: #C2003F;
$PlayButton: #6a6a6a;