html{
    min-width: 300px;
}

body {
    background-color: #aaa;
    font-size: 20px;
    color: #000000;
    padding: 0;
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
}

h1.panel-title{
    font-size: 1.5em;
}

.form-signin .form-signin-heading{
    margin-top: 0;
    font-size: 1.1em;
}

.form-signin label{
    font-size: 0.9em;
}

.form-signin {
    max-width: 380px;
    padding: 0 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin-heading{
    color: #248;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-size: 0.800em;
}

.form-control{
    border: 1px solid #222;
    margin: auto 0;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.center{
    height: auto;
    max-width: 360px;
}

.span1{
    margin-left: 0;
    margin-right: 45px;
}

.panel-body{
    background-color: #ccc;
}
.container{
    padding: 0;
    width: 100%;
}
.btn-success{
    background-color: #666;
    border: none;
    color: #ccc;
}
.btn-file{
    background-color: #ccc;
    padding-left: 0;
}
.panel-primary{
    margin-bottom: 0;
    border-radius: 0;
}
.panel-heading{
    border-radius: 0;
}
.navbar-brand{
    font-size: 1.5em;
}